body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.inputs {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: black;
    border-radius: 3px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}