body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
article {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: black;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}